html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    line-height: 19px;
    font: $mainFont;
    font-stretch: normal;
    color: $mainTextColor;
}

a {
    color: #74808f;
    text-decoration: none;
    transition: all 0.2s ease;

    &:hover {
        color: $mainThemeColor;
        opacity: 0.8;
    }
}

input, select, textarea {
    font: $mainFont;
    color: $mainTextColor;
    background: white;
    outline: none;

    border-radius: 2px;
    padding: 5px;
    border: 1px solid #dddde5;

    &:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 1000px #fff inset;
        -webkit-text-fill-color: #333;
    }

    &.pika-select {
        font-size: 14px;
    }

    &:focus {
        box-shadow: 0 0 10px -4px yellow;
    }
}

h1 {
    font: 100 30px/40px $mainFontName;
    margin-bottom: 5px;
    color: $topBarBackgroundColor;
}

h2 {
    font: 400 24px/28px $additionalFontName;
    margin-bottom: 15px;
}

.cms-button {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px 40px;
    border-radius: 15px;
    font: 400 16px/20px Cuprum;
    color: $mainButtonTextColor;
    background-color: $mainButtonBackgroundColor;
    box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.6);
    transition: 0.3s ease;

    &.gray {
        transition: opacity 0.2s;
        margin: 0;
        background: $menuSubItemColor;
        font-size: 14px;
        padding: 3px 20px;
        box-shadow: 0 0 4px -1px rgba(0, 0, 0, 0.3);
    }

    &.white {
        background: transparent;
        color: $mainButtonBackgroundColor;
        box-shadow: 0 0 4px -1px rgba(0, 0, 0, 0.3);
    }

    &:hover {
        opacity: 0.9;
    }

    &:disabled {
        opacity: 0.5;
    }

    &:active {
        margin-top: 1px;
        margin-bottom: -1px;
    }

}

#spinner {
    width: 32px;
    height: 32px;
    background: url('../i/spinner.gif');
    position: fixed;
    right: 10px;
    bottom: 15px;
    z-index: 1000;
    display: none;

    &.show {
        display: block;
    }
}
