{% extends "facepalm::base" %}
	{% block moduleContent %}
        <div class="cms-module-list-page {{ buttonsPanel ? 'buttonsPanel' : '' }}">
            {{ listHtml|raw }}

            {% if buttonsPanel %}
            <div class="form-buttons">
                <div class="inner-container">
                    <button class="cms-button save-button" type="submit">Сохранить</button>
                    {% autoescape false %}
                        {{ additionalButtons }}
                    {% endautoescape %}
                </div>
            </div>
            {% endif %}

        </div>
    {% endblock moduleContent %}
