{% extends "base.twig" %}
{% block bodyOuter %}
    <body class="cms-page login-page" style="background-image: url('/assets/build/cms/i/bg{{ random(3)+1 }}.jpg');">
    <div class="bg">
    </div>
    <div class="container">
        <div class="login-form">
            <div class="logo"></div>
            <form action="/cms/login/" method="post">
                {{ csrf_field() }}
                <input type="hidden" name="back" value="{{ backUrl }}">
                <input type="text" name="email" value="{{ login }}" placeholder="E-mail" class="text">
                <input type="password" name="password" placeholder="Пароль" class="text">
                <button type="submit" class="fa fa-arrow-circle-right"></button>
            </form>
        </div>
    </div>
    </body>
{% endblock bodyOuter %}
