<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <title>Facepalm CMS</title>
    <link rel="stylesheet" href="/assets/build/cms/css/vendor.css"/>
    <link rel="stylesheet" href="/assets/build/cms/css/main.css"/>
    {% block cssFile %}{% endblock %}

    <script></script>

</head>
{% block bodyOuter %}
    <body class="cms-page">
    {% include 'menu.twig' %}
    <main>
        {{ csrf_field() }}
        {% block moduleContentOuter %}
            <div class="top-bar">
                <h1>{{ moduleConfig.strings['title'] ?: 'Список объектов' }}</h1>
                <div class="right">
                    <i class="fa fa-user"></i>
                </div>
            </div>
            <div class="module-content">
                {% block moduleContent %}
                {% endblock moduleContent %}
            </div>
        {% endblock moduleContentOuter %}
    </main>
    </body>
{% endblock bodyOuter %}
{#<div id="ohsnap"></div>#}
<script src="/assets/build/cms/js/all.js"></script>
{% block jsFile %}{% endblock %}

</html>
