{% extends "base.twig" %}
	{% block moduleContent %}
        <div class="cms-module-form-page" data-create-mode="{{ form.object ? 0 : 1 }}" data-just-created="{{ justCreated }}">
            {% include "components/form/container.twig" %}
            {# todo: кнопок может не быть! #}
            <div class="form-buttons">
                <div class="inner-container">
                    <button class="cms-button save-button" type="submit">Сохранить</button>
                    {% autoescape false %}
                        {{ additionalButtons }}
                    {% endautoescape %}
                </div>
            </div>
        </div>
    {% endblock moduleContent %}
