{% extends "base.twig" %}
	{% block moduleContent %}
        <div class="cms-module-form-page">
            {% include "components/form/container.twig" %}
        </div>
    {% endblock moduleContent %}
