{% extends "base.twig" %}
	{% block moduleContent %}
        <div class="cms-module-list-page">
            {% include "components/list/container.twig" %}
        </div>
    {% endblock moduleContent %}
