{% extends "base.twig" %}
{% block bodyOuter %}
    <body class="cms-page login-page" style="background-image: url('/assets/build/cms/i/bg{{ random(3)+1 }}.jpg');">
    <div class="bg">
    </div>
    <div class="container">
        <div class="fatal-error">
        У вас нет доступа к этой странице
        </div>
    </div>
    </body>
{% endblock bodyOuter %}
