/vendor
/node_modules
/bower_components
/storage/cms-config-cache.json
/storage/logs/
/bootstrap/cache/

composer.lock

Homestead.yaml
Homestead.json
.env

.idea
.DS_Store
Thumbs.db
.*~
.*
*.zip
*.*~
*.pyc
!.gitattributes
!.gitignore
