<div class="cms-module-tree-content">
    <ul>
        {{ treeContent|raw }}
    </ul>
    <script type="text/template" data-template-name="empty-tree-element">
        {{ emptyTreeItem|raw }}
    </script>
</div>