<div class="cms-module-form-page" data-create-mode="{{ creating ? 1 : 0 }}" data-just-created="{{ justCreated }}">
    {{ formHtml|raw }}
    {# todo: кнопок может не быть! #}
    <div class="form-buttons">
        <div class="inner-container">
            {% if not noSaveButton %}
                <button class="cms-button save-button" type="submit">Сохранить</button>
                <button class="cms-button white save-button" data-action="save-and-return" type="submit">Сохранить и вернуться к списку</button>
            {% endif %}
            {% autoescape false %}
                {{ additionalButtons }}
            {% endautoescape %}
        </div>
    </div>
</div>
