@import "base/fonts";
@import "base/settings";

body.mce-content-body {
    font: $mainFont;
    font-stretch: normal;
    color: $mainTextColor;

    p {
        margin: 0 0 1em 0
    }

    blockquote {
        font-size: 18px;
        line-height: 22px;
        color: #666;
        padding: 30px 0;
        text-align: center;
        border-top: 1px solid #979797;
        border-bottom: 1px solid #979797;
        margin: 30px 0;
    }

    h2 {
        text-align: center;
    }

    .galleryPlaceholder {
        margin: 1em 0;
        display: flex;
        flex-wrap: wrap;
        border: 1px solid transparent;

        &.type-image {
            display: inline-block;
            &:after {
                content: '';
                display: block;
            }
        }

        &.type-gallery {
            background: #FbFbF9;
            padding: 10px;
            color: #805515;

            &:before {
                content: 'Галерея';
                flex-basis: 100%;
                opacity: 0.3;
                font-weight: 400;
                text-transform: uppercase;
                padding: 0 10px;
                color: #000;
                font-size: 12px;
            }
        }

        .image {
            margin: 10px;
            button {
                display: none;
            }
        }

        &[contentEditable=false][data-mce-selected] {
            outline: none;
            border: 1px dotted #6484CC;
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
        }
    }

}
