<div class="cms-module-form">
    <input style="display:none" type="text" name="fakeusernameremembered"/>
    <input style="display:none" type="password" name="fakepasswordremembered"/>
    <table>
        {% for field in form.fields %}
            <tr data-row-for-field="{{ field.name }}">
                <td class="caption">
                    {% if not field.doNotShowTitle %}
                        <div class="caption">{{ field.title }}</div>
                    {% endif %}
                </td>
                <td class="field">
                    {{ field.renderFormField(form.object)|raw }}
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
