<div class="file" data-id="{{ file.id }}">
    <a href="{{ file.uri }}" target="_blank">
        {{ file.type }}
    </a>
    <input type="text" value="{{ file.name }}">
    <button type="button" class="delete fa fa-times"></button>
</div>
