.cms-module-list-page {
    margin-top: 4px;
}

.cms-module-list {

    .multiple-lists {
        .one-list {
            padding-bottom: 40px;

            h2 {
                font: 20px $additionalFontName;
                margin-bottom: 15px;
            }
        }
    }

    table {
        margin-top: 40px;

        tr {
            th {
                text-align: left;
                font-size: 11px;
                font-weight: 600;
                text-transform: uppercase;
                padding: 4px 25px;
                color: #8e9aa9;
                background: #f4f7fa;

                &:first-child {
                    padding-left: 8px;
                }
                &:last-child {
                    padding-right: 8px;
                }
                &.buttons {
                    padding: 10px 8px;
                }
            }

            td {
                padding: 10px 25px;
                border-bottom: 1px solid #e2e7ec;
                color: #b0b8c2;

                &.cell-type-checkbox, &.cell-type-boolean {
                    text-align: center;
                }

                &:first-child {
                    padding-left: 8px;
                }
                &:last-child {
                    padding-right: 8px;
                }

                &.cell-type-datetime {
                    font-size:.8em;
                }

                &.buttons {
                    padding: 10px 8px;

                    button, .button {
                        padding: 2px 4px;
                        width: 19px;
                        border: none;
                        color: white;
                        cursor: pointer;
                        outline: none;
                        border-radius: 20px;
                        font-size: 15px;

                        &:hover {
                            opacity: 0.8;
                        }
                        &:active {
                            opacity: 0.6;
                        }

                        &.delete {
                            background-color: #ea5a5a;
                        }

                        &.status {
                            background-color: #fc0;
                        }
                        &.edit {
                            background-color: darkslategrey;
                        }
                    }
                }
            }

            &:last-child {
                td {
                    border-bottom: none;
                }
            }
            &.inactive {
                td {
                    transition: opacity 0.2s ease;
                    opacity: 0.7;
                    color: #aaa;
                    a {
                        color: #aaa;
                    }
                    button {
                        &.status {
                            background-color: #ccc;
                        }
                    }
                }
            }
            &.sortable-ghost {
                opacity: 0.2;
            }
        }

        thead {
            &.inner {
                tr {
                    th {
                        color: #8e9aa9;
                        background: white;

                    }
                }
            }
        }

        &[data-sortable="true"] {
            .column-id {
                padding: 10px 0;
                a {
                    cursor: move;
                    &:before {
                        color: #ccc;
                        content: "\f07d";
                        display: inline-block;
                        font: normal normal normal 14px/1 FontAwesome;
                        text-rendering: auto;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                        transform: translate(0, 0);
                        padding: 0 10px;
                    }
                }
            }
        }

        &.nowrap {
            tr {
                td, th {
                    white-space: nowrap;
                }
            }
        }
    }
}
