<div class="cms-module-list">
    <button type="button"
            class="cms-button add-new-item"
            data-base-url="{{ moduleConfig.baseUrl }}"
    >
        Создать{{ moduleConfig.strings['accusative'] ? (" "~moduleConfig.strings['accusative']):"" }}
    </button>
    {% include "facepalm::components/list/list.twig" %}
</div>