<div class="cms-module-tree" data-model="{{ list.meta.model }}">
    {% include "facepalm::components/list/tree.twig" %}
    <button type="button" class="add-new-tree-item">
        <i class="fa fa-plus"></i>
        <span>Добавить</span>
    </button>
</div>