<div class="cms-module-tree" data-model="{{ list.meta.model }}" data-tree-root="{{ treeRoot }}">
    {% include "facepalm::components/list/tree.twig" %}
    {% if list.settings.showAddButton %}
        <button type="button" class="add-new-tree-item">
            <i class="fa fa-plus"></i>
            <span>Добавить</span>
        </button>
    {% endif %}
</div>