<div class="cms-module-list">
    {% if list.settings.showAddButton %}
        <button type="button"
                class="cms-button add-new-item"
                href="{{ baseUrl }}/create/">
            Создать{{ strings['accusative'] ? (" "~strings['accusative']):"" }}
        </button>
    {% endif %}
    {% if(list.settings.listParams.languageSelector) %}
        <div style="margin-top:50px; margin-bottom: -10px;">
            <span style="text-transform: uppercase;font-size: 12px;">Язык отображения списка:</span>
            <select class="list-language-selector">
                {% for langCode,langTitle in languages %}
                    <option {% if currentLanguage==langCode %}selected{% endif %} value="{{ langCode }}">{{ langTitle }}</option>
                {% endfor %}
            </select>
        </div>
    {% endif %}
    {% if(list.settings.listParams.filter) %}
        <div class="list-filter">
            <div style="margin-top:50px; margin-bottom: -10px; padding:15px; background:#f4f7fa; display: inline-block">
                <div style="text-transform: uppercase;font-size: 11px; color: #999;">Фильтр:</div>
                <input type="text" name="filter" style="width: 400px;">
            </div>
        </div>
    {% endif %}
    {% include "facepalm::components/list/list.twig" %}
</div>