<div class="cms-module-list">
    <button type="button"
            class="cms-button add-new-item"
            href="{{ baseUrl }}/create/">
        Создать{{ strings['accusative'] ? (" "~strings['accusative']):"" }}
    </button>
    {% include "facepalm::components/list/list.twig" %}
</div>