<div class="cms-module-tree-content" data-plain="{{ list.settings.plainTreeMode }}">
    <ul data-id="0">
        {{ treeContent|raw }}
    </ul>
    <script type="text/template" data-template-name="empty-tree-element">
        {{ emptyTreeItem|raw }}
    </script>
</div>