//
//.alert {
//    padding: 15px;
//    margin-bottom: 20px;
//    border-radius: 4px;
//    position: absolute;
//    bottom: 70px;
//    right: 20px;
//    /* Each alert has its own width */
//    float: right;
//    clear: right;
//}
//
//.alert-red {
//    color: white;
//    background-color: #ea5a5a;
//}
//
//.alert-green {
//    color: white;
//    background-color: #28bd8b;
//}
//
//.alert-blue {
//    color: white;
//    background-color: #23b1f7;
//}
//
//.alert-yellow {
//    color: white;
//    background-color: #ffcc00;
//}

#growls {
    &.default {
        top: 60px;
        right: 0;
    }

    .growl {
        transition: all 0.2s ease-in-out;
        border-radius: 2px;

        &.growl-default {
            color: #FFF;
            background: #7f8c8d;
        }
        &.growl-error {
            color: #FFF;
            background: $errorColor;
        }
        &.growl-notice {
            color: #FFF;
            background: $successColor;
        }
        &.growl-warning {
            color: #FFF;
            background: #F39C12;
        }
    }
}