.cms-module-form-page {
    padding-top: 10px;
    padding-bottom: 85px;

    .form-buttons {
        margin-left: -50px;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 22%);
        width: 100%;
        position: fixed;
        bottom: 0;
        padding: 20px 0 0px 0px;

        .inner-container {
            box-shadow: 0 -1px 30px -10px rgba(0, 0, 0, 0.07);
            border-top: 1px solid #f4f7fa;
            padding: 15px 30px;
        }
    }
}

.cms-module-form {
    margin-left: -20px;

    table {
        width: 100%;

        td {
            vertical-align: top;

            &.caption {
                padding-right: 7px;
                min-width: 140px;
                padding-bottom: 30px;

                .caption {
                    font: 400 15px $additionalFontName;
                    color: $captionsColor;
                    padding: 3px 20px;
                    margin-top: 3px;
                }

                &.red {
                    .caption {
                        color: $errorColor;
                    }
                }
            }

            &.field {
                padding-bottom: 30px;
                width: 100%;

                &.red {
                    p {
                        color: $errorColor;
                    }
                }

                input {
                    &.text {
                        width: 350px;
                    }

                    &.datepicker {
                        width: 120px;

                        &.datetime {
                            width: 160px;
                        }

                        & + .clear-date {
                            cursor: pointer;
                            color: #74808f;
                            margin-left: 5px;
                        }
                    }
                }

                textarea {
                    margin-top: 2px;
                    width: 700px;
                    height: 200px;
                }
            }
        }

        //todo: вынести в общие кнопки
        .add-new-subform-item {
            background-color: #1ba8ed;
            border: none;
            color: white;
            border-radius: 30px;
            font-size: 14px;
            padding: 6px 13px 5px 10px;
            cursor: pointer;
            outline: none;

            span {
                font: 400 14px/18px Cuprum;
                margin-left: 5px;
            }

            &:hover {
                opacity: 0.8;
            }
            &:active {
                opacity: 0.6;
            }
        }

    }
}

.dropzone {
    border: 1px dotted #6484CC;
    background: white;
    padding: 0;
    min-height: 0;
}

.images-list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;

    .image {
        margin: 0 15px 20px 0;
        border: 1px solid $captionsColor;
        border-radius: 2px;
        position: relative;

        &.sortable-ghost {
            opacity: 0.1;
        }

        &.sortable-chosen {
            border-color: $successColor;
        }

        img {
            display: block;
        }

        .delete {
            position: absolute;
            color: white;
            background: $errorColor;
            border: none;
            cursor: pointer;
            padding: 2px 4px;
            border-radius: 10px;
            top: -10px;
            right: -10px;
            display: none;
            opacity: 0.9;
            outline: none;

            &:hover {
                opacity: 1;
            }

            &:active {
                top: -9px;
            }
        }

        &:hover {
            .delete {
                display: block;
            }
        }
    }
}
