$mainThemeColor: #6484cc;
$menuItemColor: white;
$menuBackgroundColor: #282c37;
$menuActiveItemBackgroundColor: #1f222d;
$menuSubItemColor: #74808f;
$menuActiveSubItemColor: $mainThemeColor;

$topBarBackgroundColor: #4b5266;

$mainFont: 300 16px/20px 'Lato' sans-serif;
$menuFont: 400 16px/20px 'Cuprum';

$leftMenuWidth: 250px;
