.cms-page {
    display: flex;
    flex-direction: column;

    .user-dropdown-container {
        display: none;
    }

    .user-dropdown-content {
        background: white;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        font-family: $additionalFontName;
        font-size: 16px;

        .username {
            padding: 10px 20px;
            color: #848381;
            font-weight: 400;
            text-align: center;
        }
        menu {

            a {
                padding: 10px;
                display: block;
                border-top: 1px solid #eee;
                transition: 0.1s;
                color: #666;

                &:hover {
                    background-color: $mainThemeColor;
                    color: white;
                    i {
                        color: white
                    }
                }

                i {
                    margin-right: 8px;
                    color: #aeaeae;
                }
            }
        }
    }

    main {
        margin-left: $leftMenuWidth;
        height: 100%;

        .top-bar {
            background: $topBarBackgroundColor;
            height: 57px;
            padding: 0 10px 0 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: white;

            .right {
                .user-icon {
                    opacity: 0.8;
                    font-size: 20px;
                    border: 1px solid rgba(255, 255, 255, 0.4);
                    background: rgba(0, 0, 0, 0.1);
                    padding: 7px 10px;
                    border-radius: 50px;
                    background-size: cover;
                    width: 37px;
                    height: 36px;
                    cursor: pointer;
                }
            }
        }

        .module-content {
            padding: 20px 50px;

            .module-intro-text {
                padding:20px 0;
            }

            .form-buttons {
                margin-left: -50px;
                background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 22%);
                width: 100%;
                position: fixed;
                bottom: 0;
                padding: 20px 0 0px 0px;
                z-index: 100;

                .inner-container {
                    box-shadow: 0 -1px 30px -10px rgba(0, 0, 0, 0.07);
                    border-top: 1px solid #f4f7fa;
                    padding: 15px 30px;
                }
            }
        }

        .index-page {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            padding-top: 30px;

            .tile {
                width: 170px;
                height: 170px;
                position: relative;
                background: #f0f0f0;
                margin: 0 20px 20px 0px;
                transition: 0.4s;

                &.color1 {
                    background: #dcedc1;
                }
                &.color2 {
                    background: #f2ecc8;
                }
                &.color3 {
                    background: #ffd3b6;
                }
                &.color4 {
                    background: #c3dff9;
                }
                &.color5 {
                    background: #a8e6cf;
                }
                &.color6 {
                    background: #b9e7ae;
                }
                &.color7 {
                    background: #dfd7da;
                }
                &.color8 {
                    background: #d5f4f0;
                }
                &.color9 {
                    background: #d9ecff;
                }
                &.color10 {
                    background: #d0ecc5;
                }
                &.color11 {
                    background: #e4ffd3;
                }
                &.color12 {
                    background: #ffe3ad;
                }
                &.color13 {
                    background: #ffaaa5;
                }
                &.color14 {
                    background: #ff8b94;
                }
                &.color15 {
                    background: #f0d6bb;
                }
                &.color16 {
                    background: #f2ecc8;
                }
                &.color17 {
                    background: #dbbac7;
                }
                &.color18 {
                    background: #c1f0d0;
                }

                &:hover {
                    background: #f0f0f7;
                }

                &.empty {
                    height: 0;
                }

                i {
                    font-size: 130px;
                    line-height: 170px;
                    color: #fff;
                    opacity: 0.2;
                }

                a {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    color: #454549;
                    font-size: 22px;
                    font-weight: 300;
                    padding: 20px 10px;
                    text-align: center;
                    opacity: 0.8;
                    //text-shadow: 0 0 10px rgba(220,220,220,1);

                    .top-level-name {
                        margin-top: 4px;
                        opacity: 0.4;
                        color: #000;
                        font-weight: 100;
                        font-family: $additionalFontName;
                        font-size: 16px;
                    }

                }
            }
        }

    }

    &.two-column {
        main {
            margin-left: $leftMenuWidth+$collapsedLeftMenuWidth;
        }

        menu.wide + main {
            margin-left: $leftMenuWidth*2;
        }
    }

}

